#navBarOptions li{
    /* padding-left: 25px; */
    color: white;
    /* font-size: 25px; */
}

#navBarOptions a{
    padding-left: 25px;
    color: white;
    font-size: 25px;
}

#navBar{
    background:none;
    margin-top: 50px;
    border: none;
}

#about{
    height:300px;
}
#offer{
    height: 300px;
}

#formData p {
    
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 20px;
    word-wrap: normal;
    display: inline-block;
    box-sizing: border-box;
}

#navBar{
    font-family: 'Saira Semi Condensed', sans-serif;
}

body{
    font-family: 'Suranna', serif;
}


#backgroundImage{   
    position: fixed;
    z-index: -1;
}

#backgroundImage img{   
    
    z-index: -1;
}

#mainContent{
    padding-top: 100px;
    text-align: center;
}

#contactmainContent{
    padding-top: 100px;
    text-align: center;
}

#Indexpage1{
    background-image: url('../images/background/backgoundImage_test2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height:100%;
    color:white;
}

#Indexpage1 a{
    font-size: 25px;
    color:white;
}

#Indexpage1 a:hover{
    font-size: 26px;
    color:rgb(212, 212, 212)
}


/* 
#Indexpage1 a:visited {
	color:#000;
	background:#b2b580;
} */

#page1 a{
    font-size: 25px;
    color:white;
}

#page1 a:hover{
    font-size: 26px;
    color:rgb(212, 212, 212)
}


#contact{
    background-image: url('../images/background/page2_test.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height:60%;
    color:white;
}


#contact a{
    font-size: 25px;
    color:white;
}

#contact a:hover{
    font-size: 26px;
    color:rgb(212, 212, 212)
}


#page1{
    background-image: url('../images/background/page2_test.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height:60%;
    color:white;
}

#Indexpage2{  
 
    
    padding-top: 100px;
    padding-bottom: 100px;
}

#aboutUs{
    float: left;
}

#whatweoffer{
    float:right;
}

#Indexpage3{
    /* background-image: url('../images/background/gearBackground_6.jpg');
    background-size: 100%; */
    height: 350px;
    text-align: center;
    padding-top: 150px;
}


#Indexpage4{
    height: 400px;
    text-align: center;
    
    padding-top: 50px;
}

#Indexpage5{
    /* background-image: url('../images/background/gearBackground_1.jpg');
    background-size: 100%; */
    height: 350px;
    text-align: center;
    padding-top: 100px;
}

#Indexpage5 #contactUS{
    width: 300px;
    
    margin : 10px auto;
}

#contactDetails{
    font-size: 18px;
}

#Indexpage6{
    height: 100px;
    text-align:center;
    padding: 30px;
    border-top: 1px solid black;
}

#aboutGear{
    text-align: center;
    padding-top: 50px;
    padding-bottom : 50px;
}

#aboutGear #aboutGearItem{
    padding : 20px;
}

#ourProducts h1{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    text-align:left;

}

#ourServices #servicesHeading h1{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid black;
}

#ourServices #serviceBlock{
    height:400px;
}

#formData{
    padding : 50px 100px 0px 50px;
}

#formData h1{
    border-bottom: 1px solid black;
    padding : 10px;
}

#formOptions{
    text-align: right;
}

#reachOut   {
    padding : 100px;
}

#reachOut h1  {
    border-bottom: 1px solid black;
    padding: 10px;
}

input, textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submitButton{
    width: 100%;
    background-color: rgb(151, 121, 57);
    color: white;
    padding: 0px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

#submitButton:hover{
    background-color: rgb(61, 165, 64);  
}
#resetButton:hover{
    background-color: rgb(165, 49, 49);
}

#resetButton{
    width: 100%;
    background-color: rgb(177, 63, 63);
    color: white;
    padding: 0px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    width: 100%;                    }

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 100%;
}